ECommerceUI/ECommerceUI/Service References/ShoppingCartServiceReference/ShoppingCartService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62072/ShoppingCartService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelPOCO" />
  <xs:element name="CartGetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CartGetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelPOCO" minOccurs="0" name="CartGetAllResult" nillable="true" type="q1:ArrayOfShoppingCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelPOCO" minOccurs="0" name="entity" nillable="true" type="q2:ShoppingCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CartAddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CartAddResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelPOCO" minOccurs="0" name="entity" nillable="true" type="q3:ShoppingCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ModelPOCO" minOccurs="0" name="entity" nillable="true" type="q4:ShoppingCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ModelPOCO" minOccurs="0" name="FindCartResult" nillable="true" type="q5:ShoppingCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>